* {
    box-sizing: border-box;
}

ul, h1, h2, h3, h4, p, html, body {
    margin: 0;
}

html, body {
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 400px;
    font-size: 13px;
    overflow: hidden;
    -ms-content-zooming: none;
    touch-action: auto;
}

.center-h {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.center-v {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#elmish-app {
    width: 100%;
    height: 100%;
}
.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
    touch-action: auto;
}
.root:focus {
    background-color: #fdefd2;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5px;
}
.playground {
    position: relative;
    flex-shrink: 0;
}
.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}
.controls button {
    margin: 10px;
}
.info {
    flex-shrink: 0;
    color: #ff3860;
    font-family: fantasy;
}
.score {
    font-size: 16px;
    font-weight: bold;
}
.game-over {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.border {
    border: solid 1px rgba(0, 0, 0, 0.3);
}
.square {
    border: solid 1px rgba(0, 0, 0, 0.3);
}

